{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <!-- 自訂靜態導覽，不用 GreedyNav -->
      <nav id="site-nav" class="static-nav">
        <div class="nav-left">
          <a class="site-title" href="{{ base_path }}/">{{ site.title }}</a>
        </div>

        <div class="nav-right">
          <ul class="nav-links">
            {% for link in site.data.navigation.main %} {% if link.url contains
            'http' %} {% assign domain = '' %} {% else %} {% assign domain =
            base_path %} {% endif %}
            <li><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}

            <li id="theme-toggle">
              <a role="button" aria-labelledby="theme-icon">
                <i
                  id="theme-icon"
                  class="fa-solid fa-sun"
                  aria-hidden="true"
                  title="toggle theme"
                ></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
